In [1]:
import pandas as pd

In [2]:
file = pd.read_csv('/home/leboralli/Dropbox/Doutorado_unifesp/tabela_ids_brainseq_csv', header=None)
file.head()

                                                   0
0  R2809_D2A01ACXX_TAATGCGC_L005_R1_001.fastq.gz\...
1                             1.685 GB\t\t\t\t\t\t\t
2                      2/10/2017 02:40\t\t\t\t\t\t\t
3                      2/10/2017 02:40\t\t\t\t\t\t\t
4                           syn8238085\t\t\t\t\t\t\t

In [3]:
file = file.replace('\t\t\t\t\t\t\t', '', regex=True)
file.head(10)

                                               0
0  R2809_D2A01ACXX_TAATGCGC_L005_R1_001.fastq.gz
1                                       1.685 GB
2                                2/10/2017 02:40
3                                2/10/2017 02:40
4                                     syn8238085
5               ed096bded05922dbcb8b751edaab9694
6                                  @andrewejaffe
7                                              +
8  R2809_D2A01ACXX_TAATGCGC_L005_R2_001.fastq.gz
9                                       1.722 GB

In [4]:
lista = file[0].values.tolist()

In [5]:
name = 0
gb = 1
id = 4
i = 0
length = len(lista)

In [6]:
listaNomes = []
while name < length:
    listaNomes.append(lista[name])
    name += 8
    
# listaNomes

'R2809_D2A01ACXX_TAATGCGC_L005_R1_001.fastq.gz'

In [7]:
listaGb = []
while gb < length:
    listaGb.append(lista[gb])
    gb += 8
    
# listaGb

In [ ]:
listaId = []
while id < length:
    listaId.append(lista[id])
    gb += 8
    
# listaId

In [ ]:
df = pd.DataFrame(list(zip(listaNomes, listaGb, listaId)), columns = ['Name', 'GBs', 'ID'])