In [1]:
import pandas as pd

In [2]:
file = pd.read_csv('tabela_allIDs_synapse_complete.csv')
file = file.dropna()
file.head(10)

,Unnamed: 0,Name,GBs,id_syn,IDs,TotalReads,Passed?,Phenotype
0,0,R2809_D2A01ACXX_TAATGCGC_L005_R1_001.fastq.gz,1.685 GB,syn8238085,R2809,34476986.0,Yes,Schizo
1,1,R2809_D2A01ACXX_TAATGCGC_L005_R2_001.fastq.gz,1.722 GB,syn8238091,R2809,34476986.0,Yes,Schizo
2,2,R2809_D2A01ACXX_TAATGCGC_L006_R1_001.fastq.gz,1.71 GB,syn8238094,R2809,34476986.0,Yes,Schizo
3,3,R2809_D2A01ACXX_TAATGCGC_L006_R2_001.fastq.gz,1.75 GB,syn8238101,R2809,34476986.0,Yes,Schizo
4,4,R2809_D2A01ACXX_TAATGCGC_L007_R1_001.fastq.gz,1.7 GB,syn8238102,R2809,34476986.0,Yes,Schizo
5,5,R2809_D2A01ACXX_TAATGCGC_L007_R2_001.fastq.gz,1.731 GB,syn8238103,R2809,34476986.0,Yes,Schizo
6,6,R2809_D2A01ACXX_TAATGCGC_L008_R1_001.fastq.gz,1.649 GB,syn8238104,R2809,34476986.0,Yes,Schizo
7,7,R2809_D2A01ACXX_TAATGCGC_L008_R2_001.fastq.gz,1.677 GB,syn8238105,R2809,34476986.0,Yes,Schizo
24,24,R2826_C00JVACXX_TGACCA_L001_R1_001.fastq.gz,3.184 GB,syn8232353,R2826,60779562.0,Yes,Control
25,25,R2826_C00JVACXX_TGACCA_L001_R2_001.fastq.gz,3.195 GB,syn8232354,R2826,60779562.0,Yes,Control

In [4]:
with open('/Users/leboralli/Documents/GitHub/phd_unifesp/samples_30kkreads.csv') as f:
    fileSamples = pd.read_csv(f, sep=',')
fileSamples.head(60)

      IDs  TotalReads Passed? Phenotype
0   R2809    34476986     Yes    Schizo
1   R2826    60779562     Yes   Control
2   R2828    82079232     Yes    Schizo
3   R2834    68803962     Yes    Schizo
4   R2836    12391034      No   Control
5   R2839    37274500     Yes   Control
6   R2841    92637684     Yes    Schizo
7   R2845    46550114     Yes   Control
8   R2855    92818740     Yes   Control
9   R2857    67601164     Yes   Control
10  R2866    57602716     Yes    Schizo
11  R2869    47052796     Yes   Control
12  R2874    39805202     Yes   Control
13  R2885    68853518     Yes    Schizo
14  R2886    42797740     Yes    Schizo
15  R2890    28014882      No    Schizo
16  R2893    65123818     Yes    Schizo
17  R2894    66636964     Yes   Control
18  R2895    94062824     Yes   Control
19  R2896    11726516      No    Schizo
20  R2897    63456598     Yes   Control
21  R2901    50963660     Yes    Schizo
22  R2945    24316876      No   Control
23  R2947    39514256     Yes   Control
24  R2948    27278138      No    Schizo
25  R2954    40987462     Yes   Control
26  R2958    48685348     Yes   Control
27  R2962     6368936      No    Schizo
28  R2980   103797148     Yes   Control
29  R2996    85348844     Yes   Control
30  R2999    49386500     Yes   Control
31  R3005    92876596     Yes    Schizo
32  R3016    29825876      No    Schizo
33  R3017   145948014     Yes   Control
34  R3036    41389712     Yes    Schizo
35  R3071    65115856     Yes    Schizo
36  R3373    39868556     Yes   Control
37  R3375     2620908      No   Control
38  R3385    53037644     Yes   Control
39  R3393    76126324     Yes   Control
40  R3395    21249862      No   Control
41  R3399    46622242     Yes    Schizo
42  R3419    85602402     Yes    Schizo
43  R3421    53303804     Yes   Control
44  R3441    67370586     Yes   Control
45  R3444    78913634     Yes   Control
46  R3445    81379778     Yes   Control
47  R3455    59627452     Yes   Control
48  R3469    91841880     Yes   Control
49  R3478   101533784     Yes   Control
50  R3479    75619842     Yes   Control
51  R3489    57562378     Yes   Control
52  R3491    71316588     Yes   Control
53  R3496    58709270     Yes    Schizo
54  R3506    17072272      No   Control
55  R3518    57141178     Yes   Control
56  R3540    88409572     Yes    Schizo
57  R3541    68772954     Yes    Schizo
58  R3543    72156590     Yes   Control
59  R3554    88043462     Yes   Control

In [20]:
filtrado = file[['IDs','id_syn']]
# print(filtrado.loc[filtrado['IDs'] == 'R3373'])
resultado = filtrado.loc[filtrado['IDs'] == 'R3444']
list(resultado['id_syn'])

['syn8229674', 'syn8229682']