In [1]:
import pandas as pd

In [2]:
file = pd.read_csv('tabela_allIDs_synapse_complete.csv')
file = file.dropna()
file.head(15)

,Unnamed: 0,Name,GBs,id_syn,IDs,TotalReads,Passed?,Phenotype
0,0,R2809_D2A01ACXX_TAATGCGC_L005_R1_001.fastq.gz,1.685 GB,syn8238085,R2809,34476986.0,Yes,Schizo
1,1,R2809_D2A01ACXX_TAATGCGC_L005_R2_001.fastq.gz,1.722 GB,syn8238091,R2809,34476986.0,Yes,Schizo
2,2,R2809_D2A01ACXX_TAATGCGC_L006_R1_001.fastq.gz,1.71 GB,syn8238094,R2809,34476986.0,Yes,Schizo
3,3,R2809_D2A01ACXX_TAATGCGC_L006_R2_001.fastq.gz,1.75 GB,syn8238101,R2809,34476986.0,Yes,Schizo
4,4,R2809_D2A01ACXX_TAATGCGC_L007_R1_001.fastq.gz,1.7 GB,syn8238102,R2809,34476986.0,Yes,Schizo
5,5,R2809_D2A01ACXX_TAATGCGC_L007_R2_001.fastq.gz,1.731 GB,syn8238103,R2809,34476986.0,Yes,Schizo
6,6,R2809_D2A01ACXX_TAATGCGC_L008_R1_001.fastq.gz,1.649 GB,syn8238104,R2809,34476986.0,Yes,Schizo
7,7,R2809_D2A01ACXX_TAATGCGC_L008_R2_001.fastq.gz,1.677 GB,syn8238105,R2809,34476986.0,Yes,Schizo
24,24,R2826_C00JVACXX_TGACCA_L001_R1_001.fastq.gz,3.184 GB,syn8232353,R2826,60779562.0,Yes,Control
25,25,R2826_C00JVACXX_TGACCA_L001_R2_001.fastq.gz,3.195 GB,syn8232354,R2826,60779562.0,Yes,Control
26,26,R2826_C0J1FACXX_TGACCA_L005_R1_001.fastq.gz,2.326 GB,syn8232356,R2826,60779562.0,Yes,Control
27,27,R2826_C0J1FACXX_TGACCA_L005_R2_001.fastq.gz,2.323 GB,syn8232357,R2826,60779562.0,Yes,Control
30,30,R2828_C0UH3ACXX_TAATGCGC_L005_R1_001.fastq.gz,2.808 GB,syn8241621,R2828,82079232.0,Yes,Schizo
31,31,R2828_C0UH3ACXX_TAATGCGC_L005_R2_001.fastq.gz,2.822 GB,syn8241622,R2828,82079232.0,Yes,Schizo
32,32,R2828_C0UH3ACXX_TAATGCGC_L006_R1_001.fastq.gz,2.973 GB,syn8241626,R2828,82079232.0,Yes,Schizo

In [26]:
with open('/home/leboralli/phd_unifesp/samples_30kkreads.csv') as f:
    fileSamples = pd.read_csv(f, sep=',')
fileSamples.head(35)

      IDs  TotalReads Passed? Phenotype
0   R2809    34476986     Yes    Schizo
1   R2826    60779562     Yes   Control
2   R2828    82079232     Yes    Schizo
3   R2834    68803962     Yes    Schizo
4   R2836    12391034      No   Control
5   R2839    37274500     Yes   Control
6   R2841    92637684     Yes    Schizo
7   R2845    46550114     Yes   Control
8   R2855    92818740     Yes   Control
9   R2857    67601164     Yes   Control
10  R2866    57602716     Yes    Schizo
11  R2869    47052796     Yes   Control
12  R2874    39805202     Yes   Control
13  R2885    68853518     Yes    Schizo
14  R2886    42797740     Yes    Schizo
15  R2890    28014882      No    Schizo
16  R2893    65123818     Yes    Schizo
17  R2894    66636964     Yes   Control
18  R2895    94062824     Yes   Control
19  R2896    11726516      No    Schizo
20  R2897    63456598     Yes   Control
21  R2901    50963660     Yes    Schizo
22  R2945    24316876      No   Control
23  R2947    39514256     Yes   Control
24  R2948    27278138      No    Schizo
25  R2954    40987462     Yes   Control
26  R2958    48685348     Yes   Control
27  R2962     6368936      No    Schizo
28  R2980   103797148     Yes   Control
29  R2996    85348844     Yes   Control
30  R2999    49386500     Yes   Control
31  R3005    92876596     Yes    Schizo
32  R3016    29825876      No    Schizo
33  R3017   145948014     Yes   Control
34  R3036    41389712     Yes    Schizo

In [36]:
filtrado = file[['IDs','id_syn']]
print(filtrado.loc[filtrado['IDs'] == 'R2890'])
resultado = filtrado.loc[filtrado['IDs'] == 'R2890']
list(resultado['id_syn'])

       IDs      id_syn
122  R2890  syn8231288
123  R2890  syn8231293
124  R2890  syn8231295
125  R2890  syn8231289
126  R2890  syn8231294
127  R2890  syn8231296
128  R2890  syn8231297
129  R2890  syn8231298
130  R2890  syn8231299
131  R2890  syn8231300

['syn8231288',
 'syn8231293',
 'syn8231295',
 'syn8231289',
 'syn8231294',
 'syn8231296',
 'syn8231297',
 'syn8231298',
 'syn8231299',
 'syn8231300']